@font-face {
  font-family: 'IconicStroke';
  src: url('../font/iconic_stroke.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
    font-size: 14px;
}
body {
    width: 400px;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}

#bm,
#top,
#foot
{
    width: 370px;
    margin-top: 8px;
    margin-left: 8px;
	line-height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
}

#top
{
    border-bottom: 1px solid #cccccc;
    height: 27px;
}

#foot
{
    border-top: 1px solid #cccccc;
    padding-top: 0.3em;
}

a {
    text-decoration: none;
    color: #444444;
    display: block;
}

a:hover {
    background-color: #0066ff;
    color: #ffffff;
}

li {
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
}

li li,
#uncats li,
#foot li
{
    margin: 0 5px;
    padding-bottom: 0;
    border-bottom: none;
}

a img {
    margin-right: 5px;
    width: 13px;
    height: 13px;
}

a.label {
    background: #eee;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 #eee;
    margin-bottom: 0.25em;
    padding: 3px 5px;
    width: 358px;
    display: block;
    font-weight: normal;
    cursor: pointer;
    color: #333333;
}

a.label:hover
{
    color: #333333;
}

a.label:after {
    color: #555555;
    content: "4";
    display: block;
    float: right;
    font-size: 18px;
    font-family: "IconicStroke";
    font-weight: normal;
    text-shadow: 0 1px 0px #fff;
    visibility: hidden;
    padding-top: 2px;
}

a.label:hover:after {
  visibility: visible;
}

#uncats {
    margin-top: 0.3em;
    padding-top: 0.3em;
    border-top: 1px solid #dedede;
}

a.add_bookmark,
a.edit_bookmark,
a.delete_bookmark
{
    display: block;
    width: 18px;
    height: 18px;
    float: left;
    text-indent: -9999px;
    background-image: url(../img/ui.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 3px;
    overflow: hidden;
}

a.add_bookmark:hover,
a.edit_bookmark:hover,
a.delete_bookmark:hover
{
    background-color: transparent;
    background-position-y: top;
    text-decoration: none;
}

a.edit_bookmark
{
    background-position-x: right;
}

a.delete_bookmark
{
    background-position-x: center;
}

#search {
    float: right;
}

#q
{
    width: 200px;
    float: left;
    display: block;
    border: 1px solid #dedede;
    font-size: 14px;
}

#search input[type=button]
{
    border: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    float: left;
    display: block;
    background-image: url(../img/search.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    margin-left: 5px;
}

#dialog-overlay
{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3000;
    display: none;
}

#dialog
{
    width: 100%;
    position: fixed;
    opacity: 0;
    top: -100px;
    z-index: 3001;
    display: none;
}

#dialog .content
{
    width: 300px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px 8px;
    background-color: #ffffff;
    background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#ffffff), to(#dddddd));
    border: 1px solid #555555;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -webkit-box-shadow: 1px 1px 5px #555555;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
}

#dialog .msg
{
    margin-bottom: 1em;
}

#dialog button
{
    background: #7a88a7;
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7a88a7), color-stop(0.5, #465985), color-stop(0.5, #2d4375), color-stop(1, #324778));
    border: 1px solid #0f1e46;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb, 0 1px 0 0 #596b94;
    color: #fff;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 14px;
    padding: 4px 0;
    text-shadow: 0 -1px 1px #000a32;
    width: 100px;
    cursor: pointer;
    opacity: 0.8;
}

#dialog button:hover,
#dialog button:focus
{
    opacity: 1;
    outline: none;
}


