html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
    font-size: 14px;
}
body {
    width: 400px;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}

#bm,
#top,
#foot
{
    width: 370px;
    margin-top: 8px;
    margin-left: 8px;
	line-height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
}

#top
{
    border-bottom: 1px solid #cccccc;
    height: 21px;
}

#foot
{
    border-top: 1px solid #cccccc;
    padding-top: 0.3em;
}

a {
    text-decoration: none;
    color: #444444;
    display: block;
}
a:hover {
    background-color: #0066ff;
    color: #ffffff;
}
li {
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
}
li li,
#uncats li,
#foot li
{
    margin: 0 5px;
    padding-bottom: 0;
    border-bottom: none;
}
a img {
    margin-right: 5px;
    width: 13px;
    height: 13px;
}
a.label {
    color: #444444;
    margin-bottom: 0.25em;
    background-color: #f5f5f5;
    padding: 3px 5px;
    width: 358px;
    display: block;
    font-weight: normal;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #dedede;
}
a.label:hover
{
    background-image: url(../img/bg.png);
    background-position: 355px center;
    background-repeat: no-repeat;
}

#uncats {
    margin-top: 0.3em;
    padding-top: 0.3em;
    border-top: 1px solid #dedede;
}

a.add_bookmark,
a.edit_bookmark,
a.delete_bookmark
{
    display: block;
    width: 18px;
    height: 18px;
    float: left;
    text-indent: -9999px;
    background-image: url(../img/ui.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 3px;
}

a.add_bookmark:hover,
a.edit_bookmark:hover,
a.delete_bookmark:hover
{
    background-color: transparent;
    background-position-y: top;
    text-decoration: none;
}

a.edit_bookmark
{
    background-position-x: right;
}

a.delete_bookmark
{
    background-position-x: center;
}

